@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-nav: #141d38;
  --bg-primary: #f5f5f5;
  --bg-secondary: #0060ff;
  --bg-button: #0060ff;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  color: black;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5;
  letter-spacing: 1px;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

.black__container {
  max-width: 1220px;
  margin: 0 auto;
}

.flex-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.navBer {
  background-color: var(--bg-nav);
  padding: 15px 0;
}

.customBtn {
  color: white;
  z-index: 100;
  padding: 10px 20px;
  letter-spacing: 2px;
  position: relative;
  border-radius: 5px;
  background: var(--bg-nav);
}
.customBtn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  background-color: var(--bg-secondary);
}
.customBtn:hover::after {
  width: 0%;
}
.customBtn::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  border-radius: 5px;
  background: var(--bg-nav);
}

.clientBox {
  position: relative;
  transition: all 0.8s ease-in-out;
}
.clientBox:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 123, 255, 0.4);
}

.customBox {
  cursor: pointer;
  position: relative;
  border-radius: 0px 0px 10px 0px;
  transition: all 0.4s ease-in-out;
}

.customBox:hover {
  background-color: #0060ff;
  border-radius: 0px 0px 0px 10px;
}
.customBox:hover p {
  color: white;
}
.customBox:hover h5 {
  color: white;
}
.btnWho {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
  text-align: center;
  transition-delay: 2s;
  transition: all 0.4s ease-in-out;
  background-color: #0060ff;
  border-radius: 0px 0px 10px 0px;
}

.customBox:hover .btnWho {
  left: 0;
  color: #0060ff;
  transform: rotate(180deg);
  background-color: white;
  border-radius: 0px 10px 0px 0px;
}

.serviceBox {
  cursor: pointer;
  z-index: 100;
  position: relative;
  color: black;
  transition: all 0.4s ease-in-out;
}

.serviceBox:hover p {
  color: #6c757d;
}

.serviceBox:hover h5 {
  color: white;
}

.serviceBox::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  background: #141d38;
}

.serviceBox:hover::after {
  height: 100%;
  animation: serviceFram 0.4s ease;
}
@keyframes serviceFram {
  0% {
    height: 0;
  }
  100% {
    color: white;
    height: 100%;
  }
}

.serviceBox::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  background: #0060ff;
  border-radius: 0px 0px 0px 100%;
}

.serviceBox:hover::before {
  width: 150px;
  height: 100px;
  animation: serviceFramTwo 0.4s ease;
}

@keyframes serviceFramTwo {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 150px;
    height: 100px;
  }
}

/* ''''''''''''''''''tablet Start responsive Here */

@media screen and (max-width: 1024px) {
  .black__container {
    width: 95%;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .grid-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ''''''''''''''Media query mobile version''''''''''' */
@media screen and (max-width: 576px) {
  .black__container {
    width: 95%;
  }
  .flex-1 {
    flex-direction: column;
  }
  .grid-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
